html {
  min-height: 100vh;
  position: relative;
}

body {
  background-color: $gray-100;
  margin-bottom: 100px;
}

main {
}

section {
  padding: 60px 0;
  //background-color: green;
  h1 {
    text-transform: uppercase;
    font-family: 'Rotis', sans-serif;
    font-weight: 600;
    color: $primary;
    letter-spacing: 0.04rem;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  body {
    margin-bottom: 250px;
  }
}
