@font-face {
  font-family: 'Rotis';
  src: url('/fonts/RotisSemiSerifStd/RotisSemiSerifStd-Bold.eot');
  src: url('/fonts/RotisSemiSerifStd/RotisSemiSerifStd-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/RotisSemiSerifStd/RotisSemiSerifStd-Bold.woff2') format('woff2'),
    url('/fonts/RotisSemiSerifStd/RotisSemiSerifStd-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rotis';
  src: url('/fonts/RotisSemiSerifStd/RotisSemiSerifStd.eot');
  src: url('/fonts/RotisSemiSerifStd/RotisSemiSerifStd.eot?#iefix') format('embedded-opentype'), url('/fonts/RotisSemiSerifStd/RotisSemiSerifStd.woff2') format('woff2'),
    url('/fonts/RotisSemiSerifStd/RotisSemiSerifStd.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
