.navbar {
  padding: 12px 0;

  text-transform: uppercase;
  font-family: 'Rotis', sans-serif;

  .navbar-nav {
    .nav-link {
      //background-color: red;
      padding: 8px 16px;
      color: lighten($primary, 30%);
      letter-spacing: 0.04rem;

      &:hover {
        color: lighten($primary, 50%);
      }

      &.nav-session {
        font-weight: 600;
        color: lighten($primary, 60%);
        &:hover {
          color: lighten($primary, 70%);
        }
      }
    }
  }
}
