.remate {
  padding: 60px 0;

  &-info {
    //background-color: blue;
    .image {
      margin-bottom: 30px;
    }
    .date {
      margin-bottom: 4px;
      font-size: 2rem;
      color: $primary;
    }
    .place {
      font-size: 1.1rem;
      color: $gray-600;
      margin-bottom: 30px;
    }
  }
}
