//## Lato
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;800&display=swap');
$font-family-base: 'Fira Sans', sans-serif;

//## Univia
// $font-family-base: "Univia", sans-serif;

$brand-1: #0d6c79 !default;
$brand-2: #b5aa81 !default;

$blue: #006573 !default;
$purple: #8c78cf !default;
$red: #dd463c !default;
$orange: #eb7e39 !default;
$yellow: #f1bd4a !default;
$green: #4eba74 !default;
$cyan: #4ba6de !default;

$primary: $brand-1;
$secondary: $brand-2;
$info: $cyan;
